body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050606;
}

#header {
    padding: 10px;
    text-align: center;
    background: #101010;
    color: #d83f07;
    line-height: 0.4cm;
}

#header h1 {
    font-size: 47px;
}

.navbar-custom {
    background-color: #101010;
    height: 45px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #d83f07;
    font-size: 30px;
}
/* change the link color */
.navbar-custom .navbar-nav .tablink {
    color: #818181;
    background-color: #101010;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .tablink,
.navbar-custom .nav-item:hover .tablink{
    color: #f1f1f1;
}