body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050606;
}

#header {
    padding: 10px;
    text-align: center;
    background: #101010;
    color: #d83f07;
    line-height: 0.4cm;
}

#header h1 {
    font-size: 47px;
}

.navbar-custom {
    background-color: #101010;
    /*height: 45px;*/
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #d83f07;
    font-size: 30px;
}
/* change the link color */
.navbar-custom .navbar-nav .tablink {
    color: #818181;
    background-color: #101010;
    border: none;
    font-size: 20px;
    margin-left: 40px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .tablink,
.navbar-custom .nav-item:hover .tablink{
    color: #f1f1f1;
}

.card {
    text-align: center;
    padding: 1%;
    background-color: #101010;
    color: #f1f1f1;
    border-radius: 0;
}

#issuedbooks , #outstandingbooks, #welcome, #aprofile, #searchcard, #result, #add-books {
    margin: 2%;
    /*margin-bottom: 2%;*/
    padding: 2%;
}

.minicard {
    width: 100%;
    height: 200px;
    padding: 10px;
    /*margin: 2%;*/
}

#mybutton {
    background-color: #818181;
    color: black;
}

#image {
    width: 40%;
    float: left;
}

#user-name {
    width: 40%;
    margin-left: 40%;
    margin-top: -10%;
}

#user-details {
    margin-top: 50px;
}

#searchby {
    padding: 10px;
    font-size: 20px;
    color: #f1f1f1;

}

#searchtable {
    text-align: left;
}

.radio-inline {
    padding: 10px;

}

th, tr {
    background-color: #101010;
    color: white;
    font-size: 20px;
}

th {
    color: #d83f07;
}

.input-field {
    font-size: 16px;
    width: 100%;
    padding: 12px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #d83f07;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 30%;
    padding-right: 30%;
}

#add-books {
    text-align: center;
    padding: 5%;
}
