body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050606;
    /*background-color: #189bcc;*/
}

.header {
    padding: 10px;
    text-align: center;
    background: #101010;
    color: #d83f07;
    line-height: 0.4cm;
}

.header h1 {
    font-size: 47px;
    margin-right: 4%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 12px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 45px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #101010;
    color: white;
    padding: 10px 15px;
    border: none;
    position: relative;
    top: 25px;
    left: 16px;
    border-radius: 10px;
}

.tablink {
    background-color: #101010;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px 5px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.tablink:hover {
    color: #f1f1f1;
}

.card {
    text-align: center;
    padding: 1%;
    background-color: #101010;
    color: #f1f1f1;
    border-radius: 0;
}

#issuedbooks {
    float: left;
    margin: 1%;
    margin-right: 2%;
    width: 47%;
}

#outstandingbooks {
    margin: 1%;
    margin-top: 2%;
    margin-left: 50%;
}

#welcome {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

#searchcard, #result, #return_books, #request-books, #book-fines, #welcome{
    margin: 1%;
    padding: 2%;
}

#result{
    margin-top: 2%;
}

#profile {
    margin: 1%;
}

.radio-inline {
    padding: 10px;

}

#searchby {
    padding: 10px;
    font-size: 20px;
    color: #f1f1f1;

}

#searchtable {
    text-align: left;
}

th, tr {
    background-color: #101010;
    color: white;
    font-size: 20px;
}

th {
    color: #d83f07;
}

#mybutton {
    background-color: #818181;
    color: black;
}

#request-books {
    text-align: center;
    padding: 3%;
}

.input-field {
    font-size: 16px;
    width: 100%;
    padding: 12px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #d83f07;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 30%;
    padding-right: 30%;
}

.minicard {
    width: 100%;
    height: 200px;
    padding: 10px;
}

#image {
    width: 40%;
    float: left;
}

#user-name {
    width: 40%;
    margin-left: 40%;
    margin-top: -10%;
}

#u-pie{
    float: left;
    margin: 1%;
    margin-right: 2%;
    width: 47%;
}

#w-user {
    width: 47%;
    margin-top: -15%;
    margin-left: 47%;
}

#user-details {
    margin-top: 50px;
}

.footer{
    padding: 10px;
    text-align: center;
    background: #101010;
    color: #d83f07;
    position:absolute;
    bottom:0;
    width:100%;
    height: 20%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
